nav.bg-warna-header {
    background-color: #e3f2fd;;
}

.warna-background {
    background-color: #fbfbfd;
    height: 100%;
    background-size: cover;
}

.background-footer {
    background-color: #fbfbfd;
}